{% extends 'pageWrapper.html' %}

{% block head %}
    <title>Start Playing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/startPlaying.css") }}" />
{% endblock %}

{% block body %}
    {% include 'header/oceanIslandHeader.html' %}

    <div id="start-playing-wrapper">
        <div id="start-playing" class="grass-island {% if rooms %}wider{% endif %}">
            <h1>Start Playing</h1>
            <p>
                We recommend starting with the <a href="/tutorial">Setup Guide</a> to see how to install Archipelago and
                have an overview of the software. For Mac users, please follow <a href="/tutorial">this guide instead</a>.
                <br /><br />

                To start playing a game, you'll first need a config file. To see how to get one and how to use it,
                please follow the <a href="/generate">YAML Basic Configuration Guide</a>.
                <br /><br />

                Next, check the <a href="/generate">Generation Guide</a>, for more information about generating a game,
                no matter if it is a single player game or a game with friends. To generate a game on the website, click
                <a href="/generate">here</a>
                <br /><br />

                For more information about how to host a game and connect to a multiworld, please check the
                <a href="uploads">Hosting and Connection guide</a>. To host a pregenerated game on the website, click
                <a href="uploads">here</a>.

                <br /><br />
                Finally, for game specific information, please look at the <a href="uploads">Supported Games</a> page.
            </p>
        </div>
    </div>

    {% include 'islandFooter.html' %}
{% endblock %}
