{% extends 'pageWrapper.html' %}

{% block head %}
    <title>Start Playing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/startPlaying.css") }}" />
{% endblock %}

{% block body %}
    {% include 'header/oceanIslandHeader.html' %}

    <div id="start-playing-wrapper">
        <div id="start-playing" class="grass-island {% if rooms %}wider{% endif %}">
            <h1>Start Playing</h1>
            <p>
                To get started with Archipelago, we recommend looking at the following guides:
                <li> The <a href="/tutorial">Setup Guide</a> for installing Archipelago. This guide also does an overview
                of the Archipelago software. For Mac users, please follow <a href="/tutorial">this guide instead</a>. </li>
                <li> The <a href="/generate">YAML Basic Configuration Guide</a> for how to obtain and use config files,
                which are needed to play an Archipelago game</li>
                <li> The <a href="/generate">Generation Guide</a>, for more information about generating a game,
                no matter if it is a single player game or a game with friends.</li>
                <li> The <a href="uploads">Hosting and Connection guide</a> for how to host and join an Archipelago game. </li>

                <br /><br />
                If you want to generate a game on the website, click <a href="/generate">here</a>. If you already have
                a pregenerated game that you would like to host, click <a href="uploads">here</a> instead.

                <br /><br />
                Finally, for game specific information, please look at the <a href="uploads">Supported Games</a> page.
            </p>
        </div>
    </div>

    {% include 'islandFooter.html' %}
{% endblock %}
